<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="mdl-grid">            
            <div class="mdl-cell mdl-cell--12-col">
                <h1 style="text-align:center;">404: Not Found</h1>
            </div>
            <div class="mdl-cell mdl-cell--1-offset mdl-cell--3-col">
                <img src="https://placekitten.com/{{w1}}/{{h1}}">
            </div>
            <div class="mdl-cell mdl-cell--1-offset mdl-cell--3-col">
                <img src="https://placekitten.com/{{w2}}/{{h2}}">
            </div>
            <div class="mdl-cell mdl-cell--1-offset mdl-cell--3-col">
                <img src="https://placekitten.com/{{w3}}/{{h3}}">
            </div>
        </div>
    </main>
</div>